@charset "UTF-8";


/* Resolução de dispositivos PORTRAIT

******  Celular  ******
280px
320px
360px
375px
384px
390px
393px
412px
414px

****** TABLET ******
540px
768px
820px
912px
1024px

******* Resolução de dispositivos LANDSCAPE ******


******  Celular  ******

480px
568px
640px
658px
667px
736px
740px
768px
812px
844px
851px
896px
914px
915px


****** TABLET ******
720px
768px
1024px
1180px
1280px
1366px
1368px

*/

/* ***** CELULAR 320PX PORTRAIT ***** */

@media screen and (max-width: 320px){
    
    header {

        width: 100%;
    }

     .container-menu-sociais > menu ul {

        width: 50%;
        margin-top: 46px;
        margin-left: -7px;
    }

    form {

        margin-top: -7px;
    }

     .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        max-width: 319px;
        
    }

    span.hamburguer {

        margin-top: -90px;
    }


     #isuario, #isenha {

        width: 85px;
     }

     .entrar-limpar {

        background-color: var(--color-yellow);
        display: block;
        margin-top: 3px;
    }

    footer {

        width: 479px;
        
    }
}
/* ***** FIM CELULAR 320PX PORTRAIT ***** */



/* ***** CELULAR 360PX PORTRAIT ***** */
@media screen and (max-width: 360px){

    header {

        max-width: 100%;

    }

    .header-redes-socias {

        margin-right: -8.5%;
    }
    

    .entrar-limpar {

        width: 84px;
        background-color: var(--color-yellow);
    }
    
    /* ***** MENU ***** */

    #container {

        max-width: 95%;
    }

    span.hamburguer {

        margin-bottom: -10px;
    }
    

    .container-menu-sociais > menu ul {

        max-width: 52%;
    }
   
    /* ***** FIM MENU ***** */


    /* ***** SECTION ***** */

    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        max-width: 358px;
        
    }

    /* ***** FIM SECTION ***** */



        /* ***** FOOTER ***** */

        footer {

            max-width: 345px;
        }

    .button {

        width: 70%;
    }

    .footer-button > p {

        width: 80%;
        text-align: center;
    }

    /* ***** FIM FOOTER ***** */
    
}
/* ***** FIM CELULAR 360PX PORTRAIT ***** */


/* ***** CELULAR 384PX PORTRAIT ***** */

@media screen and (max-width: 384px){
    
    header {

        width: 400x;
    }

    .container-menu-sociais > menu ul {

        width: 60%;
        margin-top: 26px;
        margin-left: -5px;
        
    }

    div#container {

        width: 430px;
        
    }

    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        
        width: 379px;
    }

    .footer-button > p {

        width: 80%;
        text-align: center;
    }
}







/* ***** FIM CELULAR 390PX PORTRAIT ***** */
@media screen and (min-width: 390px) and (max-width: 499px){

   

    .entrar-limpar {

        width: 84px;
    }


    #container {

        width: 379px;

    }

    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        width: 379px;
        
    }

    footer {

        width: 379px;
    }

    .button {

        width: 70%;
    }

    .footer-button > p {

        width: 80%;
        text-align: center;
    }
    
    .container-menu-sociais ul {

        width: 350px;
        margin-top: 25px;
    
    }

}
/* ***** FIM CELULAR 390PX PORTRAIT ***** */



/* ***** CELULAR 600 a 768PX PORTRAIT ***** */
@media screen and (min-width: 600px) and (max-width: 768px){


    .header-redes-socias {

        margin-right: 5%;
    }


    #container {

        width: 579px;
        height: 200px;
        
    }

    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        width: 579px;
        margin: auto;
        margin-top: 20px;
    }
    
    
    footer {
    
        width: 579px;
    }
    
    
    .footer-by p {
    
        margin-top: 20%;
    
    }

}
/* ***** FIM CELULAR 600 a 768PX PORTRAIT ***** */


/* ***** CELULAR 769 a 992PX PORTRAIT ***** */
@media screen and (min-width: 769px) and (max-width: 992px){


    .header-redes-socias {

        margin-right: 8.5%;
    }

    
    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        width: 750px;
       
    }

    #container {

        width: 750px;
    }


    .bottom {

        
        position: relative;
        width: 100%;
    }
    
    .container-menu-sociais {
    
       margin-top: 7%;
    }
    
    .container-menu-sociais .list-list {

        margin-bottom: 0;
    
    }
    
    .none {
    
        position: absolute;
        top: 0;
        left: 43.7%;
        
    }
    
    .none1 {
    
        position: absolute;
        top: 0;
        right: 12.5%;
    
    }

    footer {
    
        width: 750px;
    }


    .footer-by p {
    
        margin-top: 15.5%;
    
    }

}
/* ***** FIM CELULAR 769 a 992PX PORTRAIT ***** */



/* ***** CELULAR 993 a 1200PX PORTRAIT ***** */
@media screen and (min-width: 993px) and (max-width: 1200px) {

    #container {

        width: 100%;
    }

    main.prncipal-boxes {

        display: flex;
        flex-direction: column;
    }

    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4 {

        width: 970px;
        
    }

    footer {
    
        width: 970px;
    }

    .footer-by p {
    
        margin-top: 12%;
    
    }

}
/* ***** FIM CELULAR 993 a 1200PX PORTRAIT ***** */

    

  