@charset "UTF-8";


@media screen and (min-width: 600px) and (max-width: 768px){


    .header-redes-socias {

        margin-right: 5%;
    }
    #container {

        width: 579px;
        height: 200px;
        
    }

    .main-box1, .main-box2, .main-box3, .main-box3-1, .main-box4{

        width: 579px;
        margin: auto;
        margin-top: 20px;
    }
    
    
    footer {
    
        width: 579px;
    }
    
    
    .footer-by p {
    
        margin-top: 20%;
    
    }

}

@media screen and (min-width: 769px) and (max-width: 992px){


    #container {

        width: 779px;
        height: 200px;
        
    }
}
    

  