@charset "UTF-8";

* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* FONTES */

@font-face {

    font-family: 'gotham-black';
    src: url('../fonts/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-book';
    src: url('../fonts/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-light';
    src: url('../fonts/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* VARIÃVEL */

:root {

    --color-dark-grey:  #333333;
    --color-light-grey:  #808080;
    --color-yellow:     #FFB612;
    --color-red:        #dc0a17;
    --color-green:      #2FC022;
    --color-lighting-gray: #e5e5e5;
    --color-medium-light-gray: #939393;

    --fonte-gotham-light: 'gotham-light';
    --fonte-gotham-book: 'gotham-book';
    --fonte-gotham-bold: 'gotham-bold';
    --fonte-gotham-black: 'gotham-black';
}

header {

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    min-width: 100vw;
    margin: 0 auto;
    background-image: url(../backgraound/bach-header.jpg);
    padding: 16px 16px 0px 16px;
}

header .titulo-logo {

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

header > .titulo-logo img {

    height: 170px;
}

.logo-logo {

    color: white;
}


header > .titulo-logo  h1  {

    color: var(--color-lighting-gray);
    font-family: var(--fonte-gotham-bold);
    text-transform: uppercase;
    font-size: 3em;
}

header > .titulo-logo > span img {

    height: 32px;
    margin-right: 4px;
}

header > .titulo-logo > span {
    
    position: absolute;
    right: 0;
}

.senha {

    margin: 4px 0px 4px 0px;
}

#container {

    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    border: 4px solid var(--color-lighting-gray);
    border-radius: 14px;
    margin-top: 20px;
    padding: 13px;
    
}

.form-container {

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
}

.container-menu-sociais {

    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    flex-direction: row;
}

.container-menu-sociais li {

    display: inline-block;
    list-style: none;
    background-color: var(--color-medium-light-gray);
    width: 150px;
    padding: 5px;
    border-radius: 7px 0px 7px 0px;
    border: 2px solid var(--color-lighting-gray);
    margin-right: 2px;
    
}

.bottom {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: flex-start;

    width: 100%;
}

.bottom span {

    width: 140px;
    height: 5px;
    background-color: var(--color-yellow);
    margin: 7px 14px 0px 3px;
    border-radius: 7px 0px 7px 0px;
}

main.prncipal-boxes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    margin: 0 auto;
    
}

.main-box1, .main-box2, .main-box3, .main-box4 {

    
    width: 492px;
    height: 466px;
    border: 4px solid var(--color-lighting-gray);
    border-radius: 14px;
    margin: auto;
    background-image: url(../backgraound/BackgroundLogin.jpg);
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.main-box3-1 {

    width: 500px;
    height: 950px;
    border: 4px solid var(--color-lighting-gray);
    border-radius: 14px;
    margin: auto;
    background-image: url(../backgraound/BackgroundLogin.jpg);
    background-size: cover;
    background-position: center center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.main-box3-1 .main-icon-extra {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.main-icon-extra > span img {

    width: 60px;
}
.main-icon-extra > span {

    border-bottom: 1px solid var(--color-yellow);
    width: 70%;
    margin-bottom: 6px; 
    margin-left: 20px;   
}


.main-box1 .main-icon-sega {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.main-icon-sega > span img {

    width: 60px;
}
.main-icon-sega > span {

    border-bottom: 1px solid var(--color-yellow);
    width: 70%;
    margin-bottom: 6px; 
    margin-left: 20px;   
}



.main-box2 .main-icon-nintendo {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.main-icon-nintendo > span img {

    width: 60px;
}
.main-icon-nintendo > span {

    border-bottom: 1px solid var(--color-yellow);
    width: 70%;
    margin-bottom: 6px; 
    margin-left: 20px; 
}


.main-box3 .main-icon-sony  {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    
    
}

.main-icon-sony > span img {

    width: 60px;
}
.main-box3 >.main-icon-sony  span {

    border-bottom: 1px solid var(--color-yellow);
    width: 70%;
    margin-bottom: 6px; 
    margin-left: 20px; 
    
}



footer {

    border: 4px solid var(--color-lighting-gray);
    border-radius: 10px;
    width: 80%;
    max-width: 100%;
    height: 300px;
    margin: 10px auto;
}

.footer-button  {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.button {

    width: 25%;
    height: 70px;
    background-color: var(--color-yellow);
    text-transform: uppercase;
    margin: 20px 0 15px 0;
    font-size: 1.1em;
}

.footer-button p {

    color: var(--color-medium-light-gray);
    font-family: var(--fonte-gotham-book);
}

.footer-by {

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    align-content: flex-end;

    width: 100%;
    margin: 0 auto;
}

.footer-by p {

    margin-top: 12%;
    color: var(--color-medium-light-gray);

}







