@charset "UTF-8";

* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* FONTES */

@font-face {

    font-family: 'gotham-black';
    src: url('../fonts/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-book';
    src: url('../fonts/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-light';
    src: url('../fonts/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* VARIÃVEL */

:root {

    --color-dark-grey:  #333333;
    --color-light-grey:  #808080;
    --color-yellow:     #FFB612;
    --color-red:        #dc0a17;
    --color-green:      #2FC022;
    --color-lighting-gray: #e5e5e5;
    --color-medium-light-gray: #939393;

    --fonte-gotham-light: 'gotham-light';
    --fonte-gotham-book: 'gotham-book';
    --fonte-gotham-bold: 'gotham-bold';
    --fonte-gotham-black: 'gotham-black';
}

header {

    width: 100%;
    min-width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    padding: 16px 16px 0px 16px;
}

header .titulo-logo {

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

header > .titulo-logo img {

    height: 170px;
}


header > .titulo-logo  h1  {

    color: var(--color-lighting-gray);
    font-family: var(--fonte-gotham-bold);
    text-transform: uppercase;
    font-size: 3em;
}

header > .titulo-logo > span img {

    height: 32px;
    margin-right: 4px;
}

header > .titulo-logo > span {
    
    position: absolute;
    right: 0;
}

#container {

    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    border: 4px solid var(--color-medium-light-gray);
    border-radius: 14px;
    margin-top: 20px;
    padding: 13px;
}

.form-container {

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: column;
}

.container-menu-sociais {

    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
    flex-direction: row;
}

.container-menu-sociais li {

    display: inline-block;
    list-style: none;
    background-color: var(--color-medium-light-gray);
    width: 150px;
    padding: 5px;
    border-radius: 7px 0px 7px 0px;
    border: 2px solid var(--color-lighting-gray);
    margin-right: 2px;
    
}

.bottom {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.bottom span {

    width: 140px;
    height: 5px;
    background-color: var(--color-yellow);
    margin: 7px 14px 0px 3px;
    border-radius: 7px 0px 7px 0px;
}

.prncipal-boxes {

    width: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.main-box1, .main-box2, .main-box3, .main-box4 {

    width: 495px;
    height: 400px;
    border: 4px solid var(--color-medium-light-gray);
    border-radius: 14px;
    margin: 20px 20px 0px 0px;
}


