@charset "UTF-8";

* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* FONTES */

@font-face {

    font-family: 'gotham-black';
    src: url('../fonts/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-book';
    src: url('../fonts/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {

    font-family: 'gotham-light';
    src: url('../fonts/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* VARIÃVEL */

:root {

    --color-dark-grey:  #333333;
    --color-light-grey:  #808080;
    --color-yellow:     #FFB612;
    --color-red:        #dc0a17;
    --color-green:      #2FC022;
    --color-lighting-gray: #e5e5e5;
    --color-medium-light-gray: #939393;

    --fonte-gotham-light: 'gotham-light';
    --fonte-gotham-book: 'gotham-book';
    --fonte-gotham-bold: 'gotham-bold';
    --fonte-gotham-black: 'gotham-black';
}

header {

    width: 100%;
    min-width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    padding: 24px;
}

header .titulo-logo {

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    position: relative;
}

header > .titulo-logo img {

    height: 200px;
}


header > .titulo-logo  h1  {

    color: var(--color-lighting-gray);
    font-family: var(--fonte-gotham-bold);
    text-transform: uppercase;
    font-size: 3em;
}

header > .titulo-logo > span img {

    height: 40px;
}

header > .titulo-logo > span {
    
    position: absolute;
    top: 0;
    right: 0;
    
}




#container form {

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    border: 4px solid var(--color-medium-light-gray);
    border-radius: 14px;
    margin-top: 20px;
}
